<section id="cta" data-aos="zoom-in" class="py-24 ">
  <div class="max-w-6xl mx-auto px-4 ">
    <div
      class="relative overflow-hidden bg-gradient-to-b  from-[#e3e3e3] to-[#FFFFFF] rounded-3xl shadow-lg p-8 md:p-16 flex flex-col md:flex-row items-center gap-15"
    >
      <!-- Texto principal -->
      <div class="max-w-md text-left flex-1">
        <h3 class="text-2xl md:text-3xl font-extrabold mb-4 leading-snug">
          ¿Estás listo para dejar atrás el caos administrativo?
        </h3>
        <p class="text-sm text-slate-600 max-w-xs">
          Ya seas una startup, una pyme o un corporativo, Timbrado.io está
          diseñado para ayudarte a:
        </p>
      </div>

      <!-- Lista & botón -->
      <div
        class="bg-white/90 backdrop-blur rounded-xl p-6 w-full max-w-sm flex flex-col gap-6"
      >
        <ul class="space-y-2 text-left text-sm">
          <li class="flex items-start gap-2">
            <span class="h-2 w-2 mt-2 rounded-full bg-violet-700"></span>
            Automatizar procesos repetitivos
          </li>
          <li class="flex items-start gap-2">
            <span class="h-2 w-2 mt-2 rounded-full bg-violet-700"></span>
            Tener un control total de tus documentos fiscales
          </li>
          <li class="flex items-start gap-2">
            <span class="h-2 w-2 mt-2 rounded-full bg-violet-700"></span>
            Visualizar tu salud financiera en un solo clic
          </li>
          <li class="flex items-start gap-2">
            <span class="h-2 w-2 mt-2 rounded-full bg-violet-700"></span>
            Colaborar con todo tu equipo sin duplicar esfuerzos
          </li>
        </ul>
        <a
          href="#contacto"
          class="inline-flex items-center justify-center px-5 py-2 w-full text-center text-sm font-medium rounded border border-slate-900 text-slate-900 hover:bg-slate-900 hover:text-white active:scale-95 transition"
          >Conversemos</a
        >
      </div>
    </div>
  </div>
</section>
