<section id="how" class="py-20 bg-slate-50 text-center">
 <span
  class="inline-flex items-center gap-2
         px-4 py-2 rounded-lg
         border border-slate-200 bg-white
         text-sm font-roboto font-normal text-slate-700
         shadow-sm">
  <img src="images/icon/tu-espacio.svg" alt="" class="h-5 w-5 text-slate-500" />
  Tu espacio
</span>


  <h2 class="text-3xl md:text-4xl font-semibold">Un dashboard analítico intuitivo</h2>
  <p class="mt-2 text-slate-600">Obtén visibilidad y control con nuestro panel.</p>

  <img src="images/dashboard/bienvenido.png"
       alt="Dashboard"
       data-aos="zoom-in-up"                              
       class="mx-auto mt-12 w-full max-w-5xl rounded-lg shadow-xl
              hover:scale-105 hover:shadow-2xl transition duration-500
              animate-[float_8s_ease-in-out_infinite]">
</section>
