<section
  id="hero"
  class="relative bg-hero-grid pt-32 pb-24 text-center overflow-hidden"
>
  <div class="max-w-3xl mx-auto px-4 relative z-10" data-aos="fade-up">
    <h1 class="text-4xl md:text-6xl font-extrabold leading-tight">
      El control total de tus
      <span class="text-primary">facturas internas</span> empresariales
    </h1>
    <p class="mt-4 text-sm md:text-base text-slate-600">
      Simplifica, controla y automatiza tu gestión empresarial desde un solo
      lugar.
    </p>
    <a
      href="#features"
      class="inline-flex items-center justify-center px-5 py-2 mt-8 inline-block text-sm font-medium rounded border border-slate-900 text-slate-900 hover:bg-slate-900 hover:text-white active:scale-95 transition"
      >Explorar características</a
    >
  </div>
</section>
