<section id="testi" class="py-24 bg-slate-50 text-center">
   <span
  class="inline-flex items-center gap-2
         px-4 py-2 rounded-lg
         border border-slate-200 bg-white
         text-sm font-roboto font-normal text-slate-700
         shadow-sm">
  <img src="/images/icon/testimonios.svg" alt="" class="h-5 w-5 text-slate-500" />
  Testimonios
</span>

  <h2 class="text-slate-600 mb-12">
    Lo que nuestros clientes dicen de nosotros
  </h2>

  <!-- Carrusel horizontal -->
  <div class="overflow-x-auto">
    <div class="flex gap-6 px-4 max-w-6xl mx-auto min-w-max">
      <!-- Card 1 -->
      <article
        data-aos="fade-up"
        class="bg-white border border-slate-150 rounded-xl p-5 w-72 shrink-0 text-left hover:shadow-lg hover:-translate-y-1 transition duration-300"
      >
        <div class="flex items-center gap-3 mb-3">
          <img
            src="/images/testimonials/joseLuis.jpg"
            alt="avatar"
            class="h-8 w-8 rounded-full"
          >
          <div>
            <p class="text-sm font-semibold">José Luis Romero</p>
            <p class="text-xs text-slate-500">CFO, Soluciones Viales</p>
          </div>
        </div>
        <p class="text-sm text-slate-600 mb-4">
          El dashboard de reportes nos ayudó a entender en qué áreas estábamos
          perdiendo dinero. Hoy nuestras finanzas están en orden.
        </p>
        <span class="text-xs text-slate-400">14 Mayo 2024</span>
      </article>

      <!-- Card 2 -->
      <article
        data-aos="fade-up"
        class="bg-white border border-slate-150 rounded-xl p-5 w-72 shrink-0 text-left hover:shadow-lg hover:-translate-y-1 transition duration-300"
      >
        <div class="flex items-center gap-3 mb-3">
          <img
            src="/images/testimonials/patriciaLopez.jpg"
            alt="avatar"
            class="h-8 w-8 rounded-full"
          />
          <div>
            <p class="text-sm font-semibold">Patricia López</p>
            <p class="text-xs text-slate-500">
              Dir. Administrativa, Grupo Oro
            </p>
          </div>
        </div>
        <p class="text-sm text-slate-600 mb-4">
          Antes teníamos errores constantes en la facturación. Desde que usamos
          Timbrado.io, todo fluye con orden y seguridad.
        </p>
        <span class="text-xs text-slate-400">30 Enero 2023</span>
      </article>

      <!-- Card 3 -->
      <article
        data-aos="fade-up"
        class="bg-white border border-slate-150 rounded-xl p-5 w-72 shrink-0 text-left hover:shadow-lg hover:-translate-y-1 transition duration-300"
      >
        <div class="flex items-center gap-3 mb-3">
          <img
            src="/images/testimonials/andreaMena.jpg"
            alt="avatar"
            class="h-8 w-8 rounded-full"
          />
          <div>
            <p class="text-sm font-semibold">Andrea Mena</p>
            <p class="text-xs text-slate-500">Gerente de Operaciones</p>
          </div>
        </div>
        <p class="text-sm text-slate-600 mb-4">
          Gracias a la gestión de proyectos, nuestros equipos de ventas y
          contabilidad ahora trabajan como uno solo. Todo está conectado.
        </p>
        <span class="text-xs text-slate-400">11 Julio 2024</span>
      </article>

      <!-- Card 4 -->
      <article
        data-aos="fade-up"
        class="bg-white border border-slate-150 rounded-xl p-5 w-72 shrink-0 text-left hover:shadow-lg hover:-translate-y-1 transition duration-300"
      >
        <div class="flex items-center gap-3 mb-3">
          <img
            src="/images/testimonials/carlosOrtega.jpg"
            alt="avatar"
            class="h-8 w-8 rounded-full"
          />
          <div>
            <p class="text-sm font-semibold">Carlos Ortega</p>
            <p class="text-xs text-slate-500">Fundador, Agencia Panda</p>
          </div>
        </div>
        <p class="text-sm text-slate-600 mb-4">
          Nos encantó que no necesitáramos conocimientos técnicos. Todo es
          intuitivo, rápido y muy visual.
        </p>
        <span class="text-xs text-slate-400">22 Febrero 2023</span>
      </article>
    </div>
  </div>
</section>
